<h1>Abdelrahman Ghanem</h1>

<hr>

<div class="row">
	<div class="col-md-4">
		<%= image_tag "profile.jpg", width: 300, alt: "profile image" %>		
	</div>
	<div class="col-md-8">
		<p>I’m a software engineer from Egypt. I focus on backend web development and worked with various languages and technologies such as PHP, Laravel, Ruby, Ruby on Rails, c#, .NET, VueJs, etc.</p>
	</div>
</div>
