<h1>Abdelrahman Ghanem</h1>

<hr>

<p>I’m a software engineer from Egypt. I focus on backend web development and worked with various languages and technologies such as PHP, Laravel, Ruby, Ruby on Rails, c#, .NET, VueJs, etc.</p>