<h1>Would you like to work together?</h1>

<hr>

<div class="row">
  	<div class="col-md-4">
    	<h3>Address</h3>
    	<p>Behira, Egypt</p>
	</div>

	<div class="col-md-4">
	    <h3>Phone</h3>
	    <p><%= number_to_phone "1063283873", country_code: 20, delimiter: " " %></p>
	</div>


	<div class="col-md-4">
	    <h3>Email</h3>
	    <p><a href="mailto:a.ghanem2244@gmail.com?subject=PortfolioContact">a.ghanem2244@gmail.com</a></p>
	</div>
</div>

<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-4">
		<h3>GitHub</h3>
		<a href="https://github.com/a-ghanem1" class="social-link"><%= fa_icon "github" %></a>
	</div>	
	<div class="col-md-4">
		<h3>LinkedIn</h3>
		<a href="https://www.linkedin.com/in/abdelrahman-ghanem" class="social-link"><%= fa_icon "linkedin" %></a>
	</div>	
</div>
